<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gym form</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/aboutus" target="_blank">About US</a></li>
                <li><a href="/services" target="_blank">Services</a></li>
                <li><a href="/jobs" target="_blank">Jobs</a></li>
            </ul>
        </div>
        <div class="sign">
            <button name="sign_in"><a href="/sign_in">Sign In</a> </button>
            <button name="Sign_up"><a href="/sign_up">Sign Up</a></button>
        </div>
    </div>
    <div class="content">
        
    </div>
</body>
</html>