<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/sign_in" method="post">
    <center>
        <table border="5px">
            <tr>
                <th>Name</th>
                <td><input name="Sun" placeholder="Enter user name"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input name="pass" placeholder="Enter password"></td>
                <button></button>
            </tr>
        </table>
        <button type="submit">Submit</button>
        <button type="reset">reset</button>
    </center>
</form>
</body>
</html>