<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/sign_up.css">
</head>

<body>
    <div class="form">
        <form action="/sign_up" method="post">
            <div class="inform">
                {{var}}
                <input type="text" name="name" id="" placeholder="Enter your name">
                <input type="number" name="phone" id="" placeholder="Enter your phone number">
                <input type="email" name="email" id="" placeholder="Enter your email id">
                <input type="password" name="password" id="" placeholder="Enter your password">
                <input type="password" name="retype_password" id="" placeholder="Enter your password again">
                <button name="submit">SUBMIT</button>
            </div>

        </form>
    </div>
</body>

</html>